<div class="row">
  <div class="small-12 medium-6 medium-centered large-4 large-centered columns">
    <h1>Just Ask App</h1>
    <h3>The only website made entirely by user suggestions.</h3>
    <div class="panel callout">
      <form>
        <div class="row">
          <div class="large-12 columns">
            <label>Please make a suggestion:</label>
            <textarea placeholder="What should I do with this website?"></textarea>
            <button type="button" class="button primary">Submit your suggestion</a>
          </div>
        </div>
      </form>
    </div>
    <h5>There are no suggestions. Be the first to add one.</h5>
  </div>
</div>
